{% load static %}
<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static '/shop/css/style.css' %}">
<style>
.w3-btn {width:150px;}
</style>
<body>

    <a href="/shop_registration">Rent a shop!</a>

    <h1>Welcome to Shopex!</h1>
    {% if request.session.email %}
    <h1>Welcome</h1>
    <a href="/logout">Log Out</a>
    {% else %}
    <a href="/signup">Signup</a>
    <a href="/login">Login</a>
    {% endif %}

</body>
</html>
